<%= render 'admin/menu' %>
<section>
  <div class="row">

      <div class="circle">
        <h2>Pages (<%= Page.all.count %>)</h2>
      </div>
      <div class="circle">
        <h2>Courses (<%= @courses.count %>)</h2>
      </div>

  </div>
</section>