<%= render 'admin/header' %>
<aside>
  <nav>
    <%= link_to "Dashboard", admin_path %>
    <%= link_to "Pages", admin_pages_path %>
    <%= link_to "Courses", admin_courses_path %>

  </nav>
</aside>