<%= render 'layouts/menu' %>
<section>
  <div class="row">
    <div class="rec rec-big">
      <article>
        <h2><%= @course.Name %></h2>
        <p>
          <% if @course.tags.any? %>
            <ul>
              <% @course.tags.each do |tag| %>
                  <li><%= tag.name %></li>
              <% end %>
            </ul>
        <% end %>
        </p>
      </article>
    </div>
  </div>
</section>
