<%= render 'pages/menu' %>
<section>
  <div class="row">
    <div class="rec rec-big">
      <article>
        <h2><%= @course.Name %></h2>
        <p>
        </p>
      </article>
    </div>
  </div>
</section>
