<%= render 'layouts/header' %>
<aside>
  <img src="/logo.png" alt="Omentoro logo">
  <nav>
    <%= link_to "Domu", root_url %>
    <% Page.all.each do |page| %>

        <%= link_to page.title, page_path(page), class: ('active' if request.path == page_path(page))%>

    <% end %>
  </nav>

  <%= link_to 'Admin', admin_path, class: "dashboard" %>
</aside>